{{template "partials/header" .}}
<h1>{{ .Title }}</h1>
<form id="login-form" hx-post="/api/user" hx-swap="none">
  <input type="email" name="email" value="" placeholder="email">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <button type="submit">submit</button>
</form>
<div id="error">
</div>
{{template "partials/footer" .}}

<script type="text/hyperscript">
on htmx:responseError get event.detail.xhr.response then put it into #error end 
on htmx:beforeRequest if #error is not null put "" into #error end
on htmx:afterSwap put "" into <input />'s value end
</script>

<style>
  #login-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
  }
</style>
