<!DOCTYPE html>
<html>

<head>
  {{ template "meta" .}}
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/head-support.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <script src="//cdn.jsdelivr.net/npm/protobufjs@7.2.5/dist/protobuf.min.js"></script>
  <script src="/script.js" defer></script>
</head>

<body hx-ext="head-support" hx-boost="true">
  <nav>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/me/chats">chats</a>
    <a href="/me">profile</a>
  </nav>
  {{ embed }}
</body>

</html>
